<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
    "-//Hibernate/Hibernate Configuration DTD//EN"
    "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
 
<hibernate-configuration>
    <session-factory>
    	<property name="hibernate.hbm2ddl.auto">validate</property>
    	<!-- <property name="hibernate.hbm2ddl.auto">create</property> -->
    	<property name="hibernate.hbm2ddl.auto">update</property>
        <mapping class="com.howtodoinjava.entity.EmployeeEntity" />
    </session-factory>
</hibernate-configuration>